.ApplicationList {

    &-id {
        font-wieght: bold;
    }
    
    &-table {
        margin: 0 auto;
        border-collapse: collapse;
    }
    &-table-title {
        width: 80px;
        height: 55px;
    }
    &-name {
        
    }
    &-capacity {
      width: 20px;
    }
    &-student-email {
        width: 113px;
    }
    &-program-schedule {
      width: 155px;
    }

    &-application-status {
      width: 97px;
    }

    &-quality-score {
        width: 40px;
    }

    tr:nth-child(2n) {
        background-color: #f9f9f9;
    }

    td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    th {
      color: rgba(0,0,0,.44);
    }

    td:first-child {
        color: rgba(0,0,0,.44);
    }
}
