.GlobalHeaderNav-icon {
  min-width: 80px;
  display: inline-block;
  margin: auto;
  width: 100%;
}

.GlobalHeaderNav {
  .ui.secondary.menu {
    background-color: #283e4a;;
  }
  .GlobalHeaderNav-icon-pic {
    white-space: nowrap;
    width: 100%;
  }
  &-items-list-item {
    float: left;
    margin-bottom: 0;
    min-width: 85px;
  }
  &-items-list {
    padding-top: 4px;
    width: 33%;
    margin-left: 30px;
  }
}

.ui.secondary.pointing.menu .active.item {
    border-color: white !important; 
    color: white !important;
}

.ui.secondary.pointing.menu .item, .GlobalHeaderNav-items-list .ui.secondary.pointing.menu .active.item {
  color: white;
}
.GlobalHeaderNav-items-list .ui.secondary.pointing.menu .active.item {
  border-bottom-color:  white;
}
.ui.secondary.pointing.menu .active.item:hover {
  color: white;
  font-weight: bold;
  border-color: white;
}
.ui.secondary.pointing.menu .active.item {
  border-color: white;
  color: white;
}



.ui.secondary.pointing.menu .active.item {
     border-color: white;
    font-weight: 700;
    color: white;
}

.GlobalHeaderNav-icon {
    margin-right: 40px;
    padding: 0;
}
a.GlobalHeaderNav-items-list-item {
  display: inline-block;
  padding: 25px 35px;
}
.GlobalHeaderNav-app-header {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    color: #fff;
}

.ui.secondary.pointing.menu .item {
    width: 20%;
    padding: 1.857143em 1.14285714em;
    font-size: 16px;
}