.icon-hover:hover {
  -moz-transition: all 0.3s ease;
  transition: all 0.5s ease;
  transform: scale(2);
}
.icon-default {
  transition: all 0.5s ease;
  transform: scale(1.5);
  opacity: 0;
}

.handshake-icon {
    color: #1E90FF;
}
.eye {
    color:#808080;
}
