.ProgramDetail {
  &-company-info {
    display: inline-block;
    width: 25%;
    vertical-align: top;
  }
  &-company-location {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    border: 1px solid grey;
  }
}
