.ProgramList, .StudentList {

    &-id {
        font-wieght: bold;
    }
    
    &-table {
        margin: 0 auto;
        border-collapse: collapse;
    }
    &-table-title {
        margin-right: 10px;
        width: 80px;
    }
    &-company-link {
        text-decoration: none;
    }
    &-company-name {
      width: 220px;
    }
    &-company-logo {
        width: 113px;
    }
    &-program-description {
      width: 155px;
    }

    &-phone-number {
      width: 97px;
    }
    
    &-program-description {
        width: 155px;
    }

    &-preferred-majors {
        width: 140px;
    }

    &-program-description-content {
        display: flex;
    }

    tr:nth-child(2n) {
        background-color: #f9f9f9;
    }

    td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    th {
      color: rgba(0,0,0,.44);
    }

    td:first-child {
        color: rgba(0,0,0,.44);
    }
}

.ProgramList-table {
    .ui.card,.ProgramList-img {
        width: 150px;
    }

    .handshake-icon.ui.button {
        font-size: 20px;
        color: #1E90FF;
    }
}